/* custom.css */

.navbar {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.navbar-brand,
.nav-link {
    font-size: 2.0rem; /* Aumenta o tamanho da fonte */
}

.navbar-brand {
    font-weight: bold;
}
.btn-engemedical {
    background-color: #006182;
    color: white;
    border: none;
}

.btn-engemedical:hover {
    background-color: #004f66; /* tom mais escuro para hover */
    color: white;
}

